.content-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.filters-container {
  width: 250px; 
  margin-right: 20px; 
}

.products-container {
  flex: 1;
}

.filter-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.filter-card h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.dropdown-group label {
  display: flex;
  flex-direction: column;
}

.reset-button {
  margin-top: 20px;
  background: linear-gradient(135deg, #A5CAD2, #E89B9D, #D66B6D); /* No quotes */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reset-button:hover {
  background-color: #000000;
}

button:focus, select:focus, input:focus {
  outline: none;
  border: 2px solid transparent; /* Set transparent border */
  border-image: linear-gradient(135deg, #A5CAD2, #E89B9D, #D66B6D) 1;
  border-radius: 4px;
}
